# Changelog

All notable changes to this project will be documented in this file.

The format is based on [Keep a Changelog](https://keepachangelog.com/en/1.1.0/),
and this project adheres to [Semantic Versioning](https://semver.org/spec/v2.0.0.html).

## {{release.version}} - {{release.date}}
{{release.message}}

{{#hasAdded}}
### Added
{{/hasAdded}}
{{#added}}
- {{message}}
{{/added}}
{{#hasChanged}}
### Changed
{{/hasChanged}}
{{#hasDeprecated}}
### Deprecated
{{/hasDeprecated}}
{{#hasRemoved}}
### Removed
{{/hasRemoved}}
{{#hasPatches}}
### Fixed
{{/hasPatches}}
{{#patches}}
- {{message}}
{{/patches}}
{{#hasSecurity}}
### Security
{{/hasSecurity}}
