## Disclaimer

This changelog was created with [semver-maven-plugin](https://github.com/Sam42R/semver-maven-plugin). If you have any issue
with `semver-maven-plugin` or want to contribute please visit project site on [GitHub](https://github.com/Sam42R/semver-maven-plugin).