{{#renderHeader}}
{{> header}}
{{/renderHeader}}

## {{#release.url}}[{{/release.url}}{{release.version}}{{#release.url}}]({{.}}){{/release.url}} - {{release.date}}
{{release.message}}

{{#hasAdded}}
### Added
{{/hasAdded}}
{{#added}}
- {{message}} {{#issues}}([#{{name}}]({{href}})){{/issues}} {{#reference}}[{{name}}]({{href}}){{/reference}}
{{/added}}
{{#hasChanges}}
### Changed
{{/hasChanges}}
{{#changes}}
- {{message}} {{#issues}}([#{{name}}]({{href}})){{/issues}} {{#reference}}[{{name}}]({{href}}){{/reference}}
{{/changes}}
{{#hasDeprecated}}
### Deprecated
{{/hasDeprecated}}
{{#deprecated}}
- {{message}} {{#issues}}([#{{name}}]({{href}})){{/issues}} {{#reference}}[{{name}}]({{href}}){{/reference}}
{{/deprecated}}
{{#hasRemoved}}
### Removed
{{/hasRemoved}}
{{#removed}}
- {{message}} {{#issues}}([#{{name}}]({{href}})){{/issues}} {{#reference}}[{{name}}]({{href}}){{/reference}}
{{/removed}}
{{#hasPatches}}
### Fixed
{{/hasPatches}}
{{#patches}}
- {{message}} {{#issues}}([#{{name}}]({{href}})){{/issues}} {{#reference}}[{{name}}]({{href}}){{/reference}}
{{/patches}}
{{#hasSecurity}}
### Security
{{/hasSecurity}}
{{#securities}}
- {{message}} {{#issues}}([#{{name}}]({{href}})){{/issues}} {{#reference}}[{{name}}]({{href}}){{/reference}}
{{/securities}}
{{#hasOthers}}
### Others
{{/hasOthers}}
{{#others}}
- {{message}} {{#issues}}([#{{name}}]({{href}})){{/issues}} {{#reference}}[{{name}}]({{href}}){{/reference}}
{{/others}}

{{#renderFooter}}
{{> footer}}
{{/renderFooter}}