{{#renderHeader}}
{{> header}}
{{/renderHeader}}

## {{release.version}} - {{release.date}}
{{release.message}}

{{#hasAdded}}
### Added
{{/hasAdded}}
{{#added}}
- {{header}} {{#issues}}([#{{id}}]({{url}})){{/issues}}
{{/added}}
{{#hasChanges}}
### Changed
{{/hasChanges}}
{{#changes}}
- {{header}} {{#issues}}([#{{id}}]({{url}})){{/issues}}
{{/changes}}
{{#hasDeprecated}}
### Deprecated
{{/hasDeprecated}}
{{#deprecated}}
- {{header}} {{#issues}}([#{{id}}]({{url}})){{/issues}}
{{/deprecated}}
{{#hasRemoved}}
### Removed
{{/hasRemoved}}
{{#removed}}
- {{header}} {{#issues}}([#{{id}}]({{url}})){{/issues}}
{{/removed}}
{{#hasPatches}}
### Fixed
{{/hasPatches}}
{{#patches}}
- {{header}} {{#issues}}([#{{id}}]({{url}})){{/issues}}
{{/patches}}
{{#hasSecurity}}
### Security
{{/hasSecurity}}
{{#securities}}
- {{header}} {{#issues}}([#{{id}}]({{url}})){{/issues}}
{{/securities}}
{{#hasOthers}}
### Others
{{/hasOthers}}
{{#others}}
- {{header}} {{#issues}}([#{{id}}]({{url}})){{/issues}}
{{/others}}

{{#renderFooter}}
{{> footer}}
{{/renderFooter}}