@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Open+Sans:400,400i,600,600i,700,700i|Roboto+Slab:300,400,700&subset=cyrillic');

$breakpoints: (
  'phone': 320px,
  'tablet': 768px,
  'desktop': 1024px
);

html {
  box-sizing: border-box;
}

*::before,
*,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
}

:root {
  --clr-yellow:#FDD835;
  --clr-blue: #2196F3;
  --clr-green:#4CAF50;
  --clr-orange:#FF9800;
  --clr-red:#f44336;
}

img.emoji{
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

header, footer{
    border-bottom: 1px solid #f3f3f3;
    padding: 1rem;
    /*fixed header*/
    &.-fixed{
      position: fixed;
      top: 0;
      width: 100%;
      background: white;
      z-index: 1;
    }
    >*{
      max-width: 1024px;
      margin: 0 auto;
    }
}
header.-fixed + .wrap-content {
  padding-top: 60px;
}
.wrap-content{
  overflow-y: auto;
  min-height:calc(100vh - 64px);
  max-width: 1024px;
  margin: 0 auto;
}
article{
  padding: 10px;
  header{
    border-bottom: 1px solid #f3f3f3;
    padding: 1rem 0;
  }
  section.version{
    margin: 1rem 0;
    .header{
      position: relative;
      display: flex;
      align-items: center;
      .version-num{
        &.-planned{
          color: rgba(0,0,0,.3);
        }
        &.-labelled{
          display: inline-flex;
          padding: 0 4px;
          border: 2px solid rgba(0,0,0,.5);
          /*color: white;*/
          background: transparent;
          border-radius: 5px;
          align-items: center;
          justify-content: center;
        }
        &.-deprecated{
          display: inline-flex;
          padding: 0 4px;
          border: 2px solid transparent;
          color: white;
          background: #4d4d4d;
          border-radius: 5px;
          align-items: center;
          justify-content: center;
        }
        &.-declined{
          display: inline-flex;
          padding: 0 4px;
          border: 2px solid rgba(0,0,0,.3);
          color: rgba(0,0,0,.5);
          background: transparent;
          border-radius: 5px;
          align-items: center;
          justify-content: center;
          text-decoration: line-through;
        }
      }
      .datetime{
        margin: 0 0 0 10px;
        color: rgba(0,0,0,.5);
      }
      >*:not(:first-child){
        margin: 0 0 0 10px;
      }
    }
    .label, .label-inline{
      display: inline-flex;
      padding: 4px 10px;
      margin: 20px 0 5px 0;
      border: 1px solid transparent;
      color: white;
      background: #bababa;
      border-radius: 9999px;
      align-items: center;
      justify-content: center;
      &.-s{
        padding: 2px 6px;
        font-size: 10pt;
      }
      &.-m{
        padding: 4px 10px;
        font-size: 12pt;
      }
      &.-l{
        padding: 6px 14px;
        font-size: 14pt;
      }
      &.-yellow{
        color: black;
        background: var(--clr-yellow);
      }
      &.-blue{
        color: white;
        background: var(--clr-blue);
      }
      &.-green{
        color: white;
        background: var(--clr-green);
      }
      &.-orange{
        color: white;
        background: var(--clr-orange);
      }
      &.-red{
        color: white;
        background: var(--clr-red);
      }
      &.-ghost{
        background: transparent;
        border: 2px solid #bababa;
        color: #bababa;
        font-weight: 600;
        &.-yellow{
          color: black;
          border-color: var(--clr-yellow);
        }
        &.-blue{
          color: var(--clr-blue);
          border-color: var(--clr-blue);
        }
        &.-green{
          color: var(--clr-green);
          border-color: var(--clr-green);
        }
        &.-orange{
          color: var(--clr-orange);
          border-color: var(--clr-orange);
        }
        &.-red{
          color: var(--clr-red);
          border-color: var(--clr-red);
        }
      }
    }
    .label-inline{
      padding: 2px 6px;
      font-size: 10pt;
      border-radius: 5px;
      margin: 0 5px 0 0;
    }
    ul, ol {
      list-style-position: inside;
      /*padding: 5px;*/
      li{
        display: flex;
        align-items: center;
        margin: 5px 0;
      }
    }
    dd{
      list-style-position: inside;
      dt{
        display: flex;
        align-items: center;
        margin: 5px 0;
      }
    }
    &.-declined{
      /*display: inline-flex;*/
      padding: 0 4px;
      /*border: 2px solid rgba(0,0,0,.3);*/
      opacity: .5;
      background: transparent;
      border-radius: 5px;
      align-items: center;
      justify-content: center;
      text-decoration: line-through;
    }
  }
}

@include media(">phone", "<=tablet") {
  header.-fixed + .wrap-content {
    padding-top: 100px;
  }
}